$color-white: #ffffff;
$color-black: #000000;

$color-midnight-express: #1c2331;
$color-midnight-express-light: #222a39;
$color-blue-charcoa: #1d252d;
$color-gainsboro: #e2e2e2;
$gray-border: #cbcccc;

$color-chrome-white: #c8c4b5;
$color-ecru-white: #d6d2c4;
$color-twilight-blue: #f2f3ee;
$color-hawkes-blue: #dadbdc;
$color-grey-chateau: #a3a4a5;
$color-prussian-blue: #082c5c;
$color-alice-blue: #f8f9fa;
$color-night-rider: #333333;
$color-raven: #6c757d;
$color-nero: #2a2a2a;
$color-charcoal: #444444;
$color-shuttle-grey: #5a6268;

$color-bright-red: #9e2331;
$color-sulu: #c3e875;

$bg-light: $color-hawkes-blue;
$text-light: $color-midnight-express;

$bg-dark: $color-midnight-express;
$text-dark: $color-twilight-blue;

$vp-tablet: 1023px;
$vp-mobile: 767px;
$vp-small: 480px;

$transition-normal: 0.3s ease;
$transition-fast: 0.2s ease;

$shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$text-color: $text-light;
$gray-light: #f5f5f5;

$toggle-width: 50px;
$toggle-height: 26px;
$circle-size: 22px;
$color-sun: #ffd600;
