@import "../global/variables";

.theme-dark {
    .hero__text span {
        color: $color-sulu;
        display: inline-block;
        animation: pulseGlowRedLight 0.6s ease-out 1.5s forwards;
    }
}

.theme-dark {
    .header {
        background-color: $color-midnight-express;
        color: $color-white;
        border-bottom-color: adjust-color(
            $color-midnight-express,
            $lightness: -5%
        );

        // Цвет иконки бургера
        .header__menu-icon span {
            background: $color-white;
        }

        // Логотип
        .header__logo-link {
            color: $color-bright-red;
        }

        // Кнопка "Связь со мной"
        .header__phone {
            color: $color-white;

            &:hover {
                color: $color-white;
            }
        }

        .header__menu-link {
            color: $color-white;

            &:hover {
                background-color: rgba($color-white, 0.1);
            }
        }
    }

    // Выпадающее меню в тёмной теме
    .header__contact-dropdown,
    .contact-dropdown,
    .burger-dropdown {
        background: $color-midnight-express-light;
        border: 1px solid
            adjust-color($color-midnight-express, $lightness: -10%);

        a {
            color: $color-white;

            &:hover {
                background-color: rgba($color-white, 0.1);
            }

            &.active {
                color: #1677ff;
                font-weight: 600;
                text-shadow: 0 0 5px rgba(22, 119, 255, 0.9),
                    0 0 10px rgba(22, 119, 255, 0.8),
                    0 0 20px rgba(22, 119, 255, 0.7),
                    0 0 40px rgba(22, 119, 255, 0.6);
            }
        }
    }

    .header__menu-list {
        background: $color-midnight-express-light;
        border: 1px solid
            adjust-color($color-midnight-express, $lightness: -10%);
    }

    .hero__text span {
        color: $color-sulu;
        animation: pulseGlow 1s ease-out 1.5s forwards;
    }
}
